.iframeWindow {
    position: absolute;
    width: 100vw;
    height: 90vh;
    border: 0;
    padding: 0;
    margin: 0;
    left: 0;
    bottom: 0;
    background-color: #fff;
}

#urlInput {
    width: 500px;
    height: 40px; /* Shortened height */
    margin-bottom: 20px;
    padding: 8px; /* Reduced padding */
    font-size: 1rem; /* Slightly smaller font size */
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.8);
    outline: none;
}

#searchButton {
    position: absolute;
    margin: 0;
    right: 0;
    top: -5px;
    width: 20vw;
    height: 10vh;
    border: 0;
    outline: 0;
    color: #141414;
    background-color: aliceblue;
    font-size: 5vh;
}
